NG_APP_API_BASE_URL=http://localhost:4200
NG_APP_CLERK_PUBLISHABLE_KEY=pk_test
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test
CLERK_SECRET_KEY=sk_test
CLERK_PUBLISHABLE_KEY=pk_test
CLERK_DEV_ORG_ID=org_
CLERK_DEV_USER_ID=user_
CLERK_DEV_USER_EMAIL=user@
CLERK_DEV_ROLE=owner
